body{
    margin:0
}

input{
    border: 4px;
}

.split-container {
    display: flex;
    height: 100vh;
}

.left-pane {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.right-pane {
    flex: 2;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-login {
    width: calc(100% - 52px);
    height: 50px;
    position: relative;
    background: #FD7401;
    box-shadow: 0 12px 24px rgba(253, 116, 1, 0.30);
    border-radius: 8px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 33px;
}

.button-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    word-wrap: break-word;
}

.forgot-pass{
    color: #1E2772;
    font-size: 14px;
    font-family: Poppins, serif;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word
}

.form-login {
    flex-direction: column;
    display: flex;
    margin-left: 28px;
    margin-right: 28px;
    align-self: center;
}

.separator-container {
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.separator-line {
    width: 175px;
    position: absolute;
    border: 1px #C2C2C2 solid;
}

.separator-text {
    left: 195px;
    position: absolute;
    color: #C2C2C2;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

