{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="split-container">
        <div class="left-pane">
            <img src="{% static 'img/icon.svg' %}" alt="">
            <div style="color: black; font-size: 20px; font-family: Poppins,serif; font-weight: 700; word-wrap: break-word; top: 24px">Login into your account</div>
            <form action="#" method="post">
              <div class="container">
                <label for="uname"><b>Username</b></label>
                  <label>
                      <input type="text" placeholder="Enter Username" name="uname" required>
                  </label>
                  <label for="psw"><b>Password</b></label>
                  <label>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                  </label>
              </div>
            </form>
            <label for="forgot-pass">Forgot Password?:</label>
            <div class="button-login">
                <div class="button-text">Login now</div>
            </div>
             <div class="separator-container">
                <div class="separator-line" style="left: 0;"></div>
                <div class="separator-line" style="left: 235px;"></div>
                <div class="separator-text">OR</div>
            </div>
            <div class="button-login">
                <div class="button-text">Signup now</div>
            </div>

        </div>
        <div class="right-pane">
            <img src="{% static 'img/login-pana.svg' %}" alt="">
        </div>
    </div>


</body>
</html>